<div class="container">
  <app-header [username]="username" [activeTab]="'clientes'"> </app-header>

  <main class="main-content">
    <div class="clients-header">
      <h2>{{ totalClients }} clientes encontrados:</h2>
      <div class="pagination-info">
        Clientes por página:
        <select [(ngModel)]="clientsPerPage" class="page-select">
          <option value="16">16</option>
          <option value="32">32</option>
          <option value="48">48</option>
        </select>
      </div>
    </div>

    <div class="clients-grid">
      @for (cliente of clients(); track cliente.id) {
      <div class="client-card">
        <div class="client-info">
          <h3>{{ cliente.name }}</h3>
          <p>
            Salário:
            {{ cliente.salary | currency : "BRL" : "symbol" : "1.2-2" }}
          </p>
          <p>
            Empresas:
            {{
              cliente.companyValuation | currency : "BRL" : "symbol" : "1.2-2"
            }}
          </p>
        </div>
        <div class="client-actions">
          <button
            class="btn-action btn-add"
            (click)="selecionarCliente(cliente)"
          >
            +
          </button>
          <button class="btn-action btn-edit" (click)="editarCliente(cliente)">
            ✏️
          </button>
          <button
            class="btn-action btn-delete"
            (click)="excluirCliente(cliente)"
          >
            🗑️
          </button>
        </div>
      </div>
      }
    </div>

    <button class="btn-criar-cliente" (click)="criarCliente()">
      Criar cliente
    </button>

    <div class="pagination"></div>
  </main>
</div>
