<header class="header">
  <div class="logo">
    <img
      src="/projects/mf-clientes/public/assets/teddy-logo.png"
      alt="Teddy"
      class="logo-img"
    />
  </div>
  <nav class="nav">
    <a
      routerLink="/clientes"
      class="nav-link"
      [class.active]="activeTab() === 'clientes'"
      >Clientes</a
    >
    <a
      routerLink="/clientes/selecionados"
      class="nav-link"
      [class.active]="activeTab() === 'selecionados'"
      >Clientes selecionados</a
    >
    <a routerLink="/" class="nav-link" (click)="onLogout()">Sair</a>
  </nav>
  <div class="user-info">Olá, {{ username() }}</div>
</header>
