<header class="header">
  <div class="sidebar-container">
    <app-sidebar />
    <img src="assets/teddy-logo.png" alt="Teddy" class="logo-img" />
  </div>
  <nav class="nav">
    <a routerLink="/clientes" class="nav-link" routerLinkActive="active"
      >Clientes</a
    >
    <a
      routerLink="/clientes-selecionados"
      class="nav-link"
      routerLinkActive="active"
      >Clientes selecionados</a
    >
    <a class="nav-link" (click)="onLogout()">Sair</a>
  </nav>
  <div class="user-info">
    Olá, <b>{{ firstName }}!</b>
  </div>
</header>
